:root {
    --colorPrimario: #ff3b3c;
}

/* Resetear */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

/* Global */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    width: min(95%, 1220px);
    /* width: 1220px; */
    margin: 0 auto;
    /* border: 1px solid springgreen; */
    /* height: inherit; */
    /* min-height: inherit; */
}
a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: var(--colorPrimario);
    padding: 40px 0;
}
@media (min-width: 768px) {
    .header {
        padding: 30px 0;
    }
}
@media (min-width: 768px) {
    .header__contenido {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .search {
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    width: 20rem;
}
.form__input {
    height: 50px;
    border-radius: 14px;
    border: none;
    width: 300px;
    padding: 15px;
}
.social {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.social__icon {
    width: 25px;
}
.nav {
    grid-row: 2 / 3;
    margin-top: 4rem;
    display: flex;
    align-items: center;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .nav ul {
        flex-direction: row;
        justify-content: space-around;
    }
}
.nav__link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero */
#hero {
    /* background-color: #428f13; */
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    /* border: 1px solid blue;c */
}
@media (min-width: 768px) {
    #hero {
        height: 30rem;
    }
}
@media (min-width: 1024px) {
    #hero {
        height: 34rem;
    }
}
.hero__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}
@media (min-width: 768px) {
    .hero__contenido {
        align-items: flex-start;
        /* align-items: center;
        justify-content: flex-start; */
    }
}
.hero__contenido span{
    /* display: block; */
    color: #fff;
    font-weight: 700;
}
.hero__contenido span:first-child{
    font-size: 4rem;
}
.hero__contenido span:last-child{
    font-size: 7rem;
    line-height: 8rem;
}
@media (min-width: 768px) {
    .hero__contenido span:last-child{
        font-size: 10rem;
    }
}

/* Cards */
.product-container {
    padding: 50px 0;
    display: grid;
    gap: 20px;
}
@media (min-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 80px 0;
    }
}
@media (min-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.product-card {
    width: 90%;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 14px;
    overflow: hidden;
}
@media (min-width: 768px) {
    .product-card {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .product-card:nth-child(4),
    .product-card:nth-child(5) {
        display: none;
    }
}
@media (min-width: 1200px) {
    .product-card:nth-child(4),
    .product-card:nth-child(5) {
        display: block;
    }
}
.product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}
.product-info {
    padding: 20px;
    color: #292828;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-title {
    display: block;
    font-size: 25px;
    font-weight: 700;
}
.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    /* flex: 1; */
}
.product-price-block .discount {
    font-size: 14px;
    font-weight: 700;
    color: #428f13;
}
.product-tax-policy {
    font-size: 12px;
}

/* Footer */
footer {
    background-color: #7525A7;
    border: 1px solid #009145;
    /* min-height: 368px; */
    height: auto;
    padding: 5rem 0 0 0;
}
.footer__contenido {
    display: flex;
    flex-direction: column;
}
.columns-container {
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
}
@media (min-width: 768px) {
    .columns-container {
        /* flex: 1; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.col {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    gap: 1rem;
    /* padding: 5px 0; */
}
.col a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}
.col a:first-child {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .col a:first-child {
        margin-bottom: 2rem;
    }
}
.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 2rem 0;
    margin-top: 2.5rem;
    /* box-sizing: border-box; */
}
.copyright p {
    color: white;
}


/* Details */
.main__contenido {
    padding: 5rem 0;
    width: 90%;
}
@media (min-width: 768px) {
    .main__contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 4rem;
        padding: 8rem 0;
        width: min(95%, 122rem);
        align-items: center;
    }
}
@media (min-width: 992px) {
    .main__contenido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: unset;
    }
}
/* .producto__images-block {
    
} */
@media (min-width: 768px) {
    .producto__images-block {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: .5rem;
    }
}
.producto__thumbnail {
    display: none;
}
@media (min-width: 768px) {
    .producto__thumbnail {
        display: block;
    }
    .producto__thumbnail img {
        margin-bottom: .5rem;
        border-radius: 1rem;
        overflow: hidden;
    }
}
.producto__main-image {
    /* border-radius: 2rem; */
    overflow: hidden;
}
@media (min-width: 768px) {
    .producto__main-image {
        grid-column: 2 / 7;
    }
}
.producto__main-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 2rem;
}
/* .producto__description-block {

} */
.producto__heading {
    font-size: 3rem;
    margin: 1.8rem 0;
}
.selector {
    display: flex;
    flex-direction: column;
}
.selector__label {
    font-weight: bold;
    margin-bottom: 1rem;
}
.selector__select {
    padding: 1rem;
    border-radius: 1rem;
    border-color: #e1e1e1;
    color: #565555;
    font-size: 1.5rem;
}
.producto__description {
    text-align: justify;
}
.producto__description-title {
    font-size: 1.6rem;
    margin: 2rem 0 0;
}
.producto__description-text {
    margin-top: 1rem;
}
.producto__checkout-block {
    background-color: #e1e1e1;
    padding: 1.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .producto__checkout-block {
        padding: 2.5rem;
        grid-column: 1 / 3;
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .producto__checkout-block {
        grid-column: unset;
        width: 100%;
        margin: 0;
    }
}
.producto__total {
    color: var(--colorPrimario);
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
.producto__price {
    font-weight: 700;
    font-size: 2.3rem;
    margin: 1rem 0 0 0;
}
.producto__taxation {
    margin: 1rem 0;
}
.producto__info {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.producto__info p {
    text-align: justify;    
}
.producto__form-group {
    margin-top: 2rem;
}
.form__top {
    display: flex;
    margin-bottom: 1rem;
}
.form__top input {
    border-radius: 1rem;
    border: none;
    color: #565555;
    height: 4rem;
    width: 6.5rem;
    margin-right: 10px;
    padding: 0 1rem 0 2rem;
    box-sizing: border-box;
}
.btn-primary {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}
.btn-outline {
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #ff3b3c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

/* Ofertas */
.ofertas__title {
    font-size: 4rem;
    text-align: center;
    margin: 0;
}
.product-container--ofertas {
    padding: 3rem 0 5rem;
}
@media (min-width: 768px) {
    .product-container--ofertas {
        padding: 3rem 0 8rem;
    }
}
@media (min-width: 1024px) {
    .product-container--ofertas .product-card:last-child {
        display: none;
    } 
}
@media (min-width: 1200px) {
    .product-container--ofertas .product-card:last-child {
        display: block;
    } 
}